.config
.config.old
output*
tags
include/config
include/generated
cscope.*
.cscope
.vscode
dl
.tmp
.*.swp
.rbuilt-in-dummy.c
.built-in-dummy.c
*.tar.bz2
.stamp_gitmodule_updated
.applied_patches_list
entry.ld
