[submodule "tools"]
	path = build/tools
	url = https://gitlab.hichiptech.com:62443/sw/hcrtos_sdk/tools.git
[submodule "apps-avp"]
	path = components/applications/apps-avp/source
	url = https://gitlab.hichiptech.com:62443/sw/hcrtos_sdk/apps-avp.git
[submodule "apps-b2bupdater"]
	path = components/applications/apps-b2bupdater/source
	url = https://gitlab.hichiptech.com:62443/sw/hcrtos_sdk/apps-b2bupdater.git
[submodule "apps-bootloader"]
	path = components/applications/apps-bootloader/source
	url = https://gitlab.hichiptech.com:62443/sw/hcrtos_sdk/apps-bootloader.git
[submodule "components/applications/apps-hccast-samplecode/source"]
	path = components/applications/apps-hccast-samplecode/source
	url = https://gitlab.hichiptech.com:62443/sw/hcrtos_sdk/apps-hccast-samplecode.git
[submodule "apphccast"]
	path = components/applications/apps-hccast/source
	url = https://gitlab.hichiptech.com:62443/sw/hcrtos_sdk/apps-hccast.git
[submodule "apps-hcdemo"]
	path = components/applications/apps-hcdemo/source
	url = https://gitlab.hichiptech.com:62443/sw/hcrtos_sdk/apps-hcdemo.git
[submodule "components/applications/apps-hcscreen/source"]
	path = components/applications/apps-hcscreen/source
	url = https://gitlab.hichiptech.com:62443/sw/hclinux_sdk/applications/hcscreenapp.git
[submodule "components/applications/apps-hcusbcast/source"]
	path = components/applications/apps-hcusbcast/source
	url = https://gitlab.hichiptech.com:62443/sw/hcrtos_sdk/apps-hcusbcast.git
[submodule "apps-hdmiswitch"]
	path = components/applications/apps-hdmiswitch/source
	url = https://gitlab.hichiptech.com:62443/sw/hcrtos_sdk/apps-hdmiswitch.git
[submodule "projector"]
	path = components/applications/apps-projector/source
	url = https://gitlab.hichiptech.com:62443/sw/hcrtos_sdk/apps-projector.git
[submodule "apps-spinandwr"]
	path = components/applications/apps-spinandwr/source
	url = https://gitlab.hichiptech.com:62443/sw/hcrtos_sdk/apps-spinandwr.git
[submodule "bt-ac6955f"]
	path = components/bluetooth/ac6955f/source
	url = https://gitlab.hichiptech.com:62443/sw/hcrtos_sdk/bt_ac6955f.git
[submodule "bt-ad6956f"]
	path = components/bluetooth/ad6956f/source
	url = https://gitlab.hichiptech.com:62443/sw/hcrtos_sdk/bt_ad6956f.git
[submodule "cmds"]
	path = components/cmds/source
	url = https://gitlab.hichiptech.com:62443/sw/hcrtos_sdk/cmds.git
[submodule "ffmpeg"]
	path = components/ffmpeg/source
	url = https://gitlab.hichiptech.com:62443/sw/hcrtos_sdk/ffmpeg.git
[submodule "hc-examples"]
	path = components/hc-examples/source
	url = https://gitlab.hichiptech.com:62443/sw/hcrtos_sdk/hc-examples.git
[submodule "components/hccast/source"]
	path = components/hccast/source
	url = https://gitlab.hichiptech.com:62443/sw/hclinux_sdk/hccast.git
[submodule "hcfota"]
	path = components/hcfota/source
	url = https://gitlab.hichiptech.com:62443/sw/hcrtos_sdk/hcfota.git
[submodule "kernel"]
	path = components/kernel/source
	url = https://gitlab.hichiptech.com:62443/sw/hcrtos_sdk/rtos-kernel.git
[submodule "components/liblvgl/source"]
	path = components/liblvgl/source
	url = https://gitlab.hichiptech.com:62443/sw/hcrtos_sdk/liblvgl.git
[submodule "liblzo"]
	path = components/liblzo/source
	url = https://gitlab.hichiptech.com:62443/sw/hcrtos_sdk/liblzo.git
[submodule "libusb"]
	path = components/libusb/source
	url = https://gitlab.hichiptech.com:62443/sw/hcrtos_sdk/libusb.git
[submodule "newlib-prebuilt"]
	path = components/newlib/source
	url = https://gitlab.hichiptech.com:62443/sw/hcrtos_sdk/newlib-prebuilt.git
[submodule "prebuilt"]
	path = components/prebuilts
	url = https://gitlab.hichiptech.com:62443/sw/hcrtos_sdk/prebuilt.git
[submodule "freertos-pthread"]
	path = components/pthread/source
	url = https://gitlab.hichiptech.com:62443/sw/hcrtos_sdk/freertos-pthread.git
[submodule "quicklz"]
	path = components/quicklz/source
	url = https://gitlab.hichiptech.com:62443/sw/hcrtos_sdk/quicklz.git
[submodule "unity"]
	path = components/unity/source
	url = https://gitlab.hichiptech.com:62443/sw/hcrtos_sdk/unity.git
