.config
.config.old
tags
include/config
include/generated
cscope.*
.cscope
.vscode
dl
.tmp
.*.swp
*.tar.bz2
*.o
*.d
.*.d
.stamp_gitmodule_updated
local.mk
*.si4project
*.code-workspace
.stamp_*

!output*/

output*/*
!output*/staging
!output*/build

output*/build/*
!output*/build/lnxporting-*
!output*/build/usbdriver-*
!output*/build/auddriver-*
!output*/build/viddriver-*
!output*/build/libaaceld-*
!output*/build/libacodec-*
!output*/build/ffplayer-*
!output*/build/mipidriver-*
!output*/build/mmcdriver-*
!output*/build/libntfs-*
!output*/build/libge-*
!output*/build/libdsc-*
!output*/build/ddrinit-*
!output*/build/wpa_supplicant-*
!output*/build/wireless_tools-*
!output*/build/libtoe-*
!output*/build/rtl8188fu-*
!output*/build/rtl8188eu-*
!output*/build/rtl8733bu-*
!output*/build/rtl8811cu-*
!output*/build/newlib-*
