.idea
.config
.config.old
tags
include/config
include/generated
cscope.*
.cscope
.vscode
dl
.tmp
.*.swp
*.tar.bz2
*.o
*.d
.*.d
.stamp_gitmodule_updated
local.mk
*.si4project
*.code-workspace
.stamp_*
*.asd

output/
bl/
