menuconfig BR2_PACKAGE_APPS_HCSCREEN
	bool "hcscreen"
	select BR2_PACKAGE_PREBUILTS_LIBGE
	select BR2_PACKAGE_LIBLVGL
	select BR2_PACKAGE_HCFOTA
	select BR2_PACKAGE_HCCAST

if BR2_PACKAGE_APPS_HCSCREEN
source "source/Kconfig"
endif
