if BR2_PACKAGE_APPS_HCUSBCAST

config CONFIG_APPS_USBMIRROR
	bool "Enable USBMirror"
	default n
	select CONFIG_NET
	select BR2_PACKAGE_LIBOPENSSL
	select BR2_PACKAGE_LIBUSB
	select BR2_PACKAGE_HCCAST
	select BR2_PACKAGE_HCCAST_USBMIRROR
	
endif
