/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <uapi/hcuapi/pinpad.h>

#define CONFIG_MEMORY_SIZE 0x08000000

#if (CONFIG_MEMORY_SIZE == 0x04000000)
#define CONFIG_MEDIAPLAYER_ROTATE_HIGH_QUALITY 0 
#else
//0:MAX SCALE FACTOR:1/2
//1:MAX SCALE FACTOR:1:1(NEED MORE MEMORY)
#define CONFIG_MEDIAPLAYER_ROTATE_HIGH_QUALITY 1
#endif


#define CONFIG_VIDEO_IN_SHARE_WITH_VDEC 1
#define CONFIG_HDMI_RX_SUPPORT 0
#define CONFIG_VIN_DVP_SUPPORT 0
#define CONFIG_VIN_TVDEC_SUPPORT 0 
#define CONFIG_VIDEO_IN_SUPPORT (CONFIG_HDMI_RX_SUPPORT | CONFIG_VIN_DVP_SUPPORT | CONFIG_VIN_TVDEC_SUPPORT)
#define CONFIG_DE4K_OUTPUT_SUPPORT 0
#define CONFIG_DUAL_OUTPUT_SUPPORT (!CONFIG_DE4K_OUTPUT_SUPPORT)
#define CONFIG_VGA_OUTPUT_SUPPORT 0
#define CONFIG_CVBS_OUTPUT_SUPPORT 0

#define CONFIG_MM_FB_SIZE (0x10cf200)
#define CONFIG_MM_VBV_SIZE (0x12c000)
#define CONFIG_MM_MF_SIZE (0x198c00)
#define CONFIG_MM_VIN_FB_SIZE (1920*1088*2*4) /*HDMI RX:OSD:1920*1088*2*2*3 DE:1920*1088*2*3*/
#define CONFIG_MM_VC_FB_SIZE (736*576*2*2)

#define MAX_EXTRA_FB_NUM (3)
#define MAX_REF_FB_NUM (7)		//if usb wired cast:MIN NUM:5
#define MAX_TOTAL_FB_NUM (MAX_REF_FB_NUM + MAX_EXTRA_FB_NUM)
#define MAX_WIDTH (2160)
#define MAX_HEIGHT (1088)
#define MAX_MB_WIDTH (MAX_WIDTH / 16)
#define MAX_MB_HEIGHT (MAX_HEIGHT / 16)
#define ONE_MV_SIZE (32 * MAX_MB_WIDTH * MAX_MB_HEIGHT)
#define AVC_MV_SIZE (ONE_MV_SIZE * MAX_TOTAL_FB_NUM)
#define AVC_MB_COL_SIZE (0x3000 * MAX_TOTAL_FB_NUM)
#if (CONFIG_MEDIAPLAYER_ROTATE_HIGH_QUALITY == 1)
#define MAX_SCALE_BUF_NUM (14 - MAX_TOTAL_FB_NUM)
#else
#define MAX_SCALE_BUF_NUM (0)
#endif
#define AVC_TOTAL_FB_SIZE (MAX_WIDTH*MAX_HEIGHT*3/2*(MAX_TOTAL_FB_NUM+MAX_SCALE_BUF_NUM))
#define AVC_MEM_SIZE ((AVC_TOTAL_FB_SIZE + AVC_MB_COL_SIZE + AVC_MV_SIZE+ 1023)&0xFFFFFFC00 )

#define CONFIG_AVC_MB_NEI_SIZE (0xf000)
#define CONFIG_AVC_CMD_QUEUE_SIZE (0x10000)
#define CONFIG_AVC_VBV_SIZE (0x80000)
#define CONFIG_AVC_MEM_SIZE AVC_MEM_SIZE
#define CONFIG_AVC_TOTAL_SIZE                                                  \
	(CONFIG_AVC_MB_NEI_SIZE + CONFIG_AVC_CMD_QUEUE_SIZE +                  \
	 CONFIG_AVC_VBV_SIZE + CONFIG_AVC_MEM_SIZE)

#define __HCRTOS_MMZ0_SIZE                                                     \
	(CONFIG_AVC_TOTAL_SIZE +                                               \
	 (CONFIG_DUAL_OUTPUT_SUPPORT * CONFIG_MM_VC_FB_SIZE) +               \
	 ((CONFIG_VIDEO_IN_SUPPORT && (!CONFIG_VIDEO_IN_SHARE_WITH_VDEC)) * CONFIG_MM_VIN_FB_SIZE))

#define HCRTOS_MMZ_BLOCKLOG (12)
#define HCRTOS_MMZ0_SIZE                                                       \
	(__HCRTOS_MMZ0_SIZE +                                                  \
	 (16 * (__HCRTOS_MMZ0_SIZE >> HCRTOS_MMZ_BLOCKLOG)) +                  \
	 (16 << HCRTOS_MMZ_BLOCKLOG))
#define HCRTOS_MMZ0_OFFSET (CONFIG_MEMORY_SIZE - HCRTOS_MMZ0_SIZE)

#define CONFIG_FRAMEBUFFER_STATIC_MEM_SIZE (0)

#define HCRTOS_SYSMEM_SIZE (CONFIG_MEMORY_SIZE - HCRTOS_MMZ0_SIZE - CONFIG_FRAMEBUFFER_STATIC_MEM_SIZE)
#define HCRTOS_SYSMEM_OFFSET (0)

#if (CONFIG_MEMORY_SIZE == 0x04000000)
#define HCRTOS_BOOTMEM_SIZE (0x1400000)
#else
#define HCRTOS_BOOTMEM_SIZE (0x2000000)
#endif
#define HCRTOS_BOOTMEM_OFFSET (((HCRTOS_SYSMEM_SIZE < 0xc000000 ? HCRTOS_SYSMEM_SIZE : 0xc000000) - 0x1000000) & 0xffff0000)

#define CONFIG_FRAMEBUFFER_STATIC_PHYS (HCRTOS_SYSMEM_OFFSET + HCRTOS_SYSMEM_SIZE)

/{
hcrtos {
	#address-cells = <1>;
	#size-cells = <1>;
	memory-mapping {
		#address-cells = <1>;
		#size-cells = <1>;
		bootmem {
			reg = <HCRTOS_BOOTMEM_OFFSET HCRTOS_BOOTMEM_SIZE>;
		};

		sysmem {
			reg = <HCRTOS_SYSMEM_OFFSET HCRTOS_SYSMEM_SIZE>;
		};

		mmz0 {
			id = <0>;
			reg = <HCRTOS_MMZ0_OFFSET HCRTOS_MMZ0_SIZE>;
			blocklog = <HCRTOS_MMZ_BLOCKLOG>;
		};
	};

	board {
		label = "hc1600a@dbA3100v20";
	};

	scpu {
		/*
		 * 0 : 594M
		 * 1 : 450M
		 * 2 : 396M
		 * 3 : 297M
		 * 4 : 198M
		 * 5 : 24M
		 * 7 : SCPU dig pll clk
		 */
		clock = <7>;
		scpu-dig-pll-clk = <800>;
	};

	mcpu {
		/*
		 * 0 : 594M
		 * 1 : 396M
		 * 2 : 297M
		 * 3 : 198M
		 * 4 : 900M
		 * 5 : 1188M
		 * 6 : 24M
		 * 7 : CPU dig pll clk
		 */
		clock = <4>;
		mcpu-dig-pll-clk = <900>;
	};

	standby {
		ir = <28>;  	// key val
	};

	hdmi {
		/*
		 * 0: fxde
		 * 1: de4k
		 * 2: hdmi rx
		 * 3: pq rgb
		 */
		tx_source = <CONFIG_DE4K_OUTPUT_SUPPORT>;
		i2c-devpath = "/dev/i2c0";
		pinmux-hotplug = <PINPAD_L16 1>;
		status = "okay";
	};

	hdmi_rx {
		pinmux-hotplugin = <PINPAD_T20 0>;
		pinmux-detect = <PINPAD_T20 3>;
		pinmux-i2c = <PINPAD_T22 8 PINPAD_T23 8>;
		status = "disabled";
	};

	video-engine {
		/*
		 * 0 : 148M
		 * 1 : 170M
		 * 2 : 198M
		 * 3 : 225M
		 * 4 : 297M
		 * 5 : 396M
		 * 6 : 450M
		 * 7 : VE dig pll clk
		 */
		clock = <5>;
		ve-dig-pll-clk = <500>;
		dynamic-resolution-support = <0>;
		video-in-support = <CONFIG_VIDEO_IN_SUPPORT>;

		mm-fb-size = <CONFIG_MM_FB_SIZE>;
		mm-vbv-size = <CONFIG_MM_VBV_SIZE>;
		mm-mf-size = <CONFIG_MM_MF_SIZE>;
		mm-vin-fb-size = <CONFIG_MM_VIN_FB_SIZE>;

		avc-extra-fb-num = <MAX_EXTRA_FB_NUM>;
		avc-mb-nei-size = <CONFIG_AVC_MB_NEI_SIZE>;
		avc-cmd-queue-size = <CONFIG_AVC_CMD_QUEUE_SIZE>;
		avc-vbv-size = <CONFIG_AVC_VBV_SIZE>;
		avc-mem-size = <CONFIG_AVC_MEM_SIZE>;
		status = "okay";
	};

	DE: de-engine {
		/*
		 * 0 : 170M
		 * 1 : 148M
		 * 2 : 198M
		 * 3 : 225M
		 * 4 : 297M
		 * 5 : 300M
		 * 6 : DE dig pll clk
		 */
		de4k-clock = <6>;
		de-dig-pll-clk = <400>;

		dual-output = <CONFIG_DUAL_OUTPUT_SUPPORT>;
		mm-vc-fb-size = <CONFIG_MM_VC_FB_SIZE>;

		de4k-output = <CONFIG_DE4K_OUTPUT_SUPPORT>;
		/*
		* copy it from avp-custom/components/kernel/source/include/uapi/hcuapi/tvtype.h
		* TV_PAL = 0,			// (Fh=15.625,fv=50)       PAL4.43 (==PAL_BDGHI)
		* TV_NTSC = 1,			// (Fh=15.734,Fv=59.94)    NTSC3.58
		* TV_PAL_M = 2,			// (Fh=15.734,Fv=59.94)    PAL3.58
		* TV_PAL_N = 3,			// (Fh=15.625,fv=50)       PAL4.43 (changed PAL mode) 
		* TV_PAL_60 = 4,			// (Fh=15.734,Fv=59.94)
		* TV_NTSC_443 = 5,		// (Fh=15.734,Fv=59.94)
		* TV_LINE_720_25 = 6,
		* TV_LINE_720_30 = 7,
		* TV_LINE_1080_25 = 8,
		* TV_LINE_1080_30 = 9,
		* TV_LINE_1080_50 = 10,
		* TV_LINE_1080_60 = 11,
		* TV_LINE_1080_24 = 12,
		* TV_PAL_NC = 13,			// (Fh=15.625,fv=50)       PAL3.58 (changed PAL mode)
		* TV_LINE_640X480_50 = 14,
		* TV_LINE_800X480_60 = 15,
		* TV_LINE_1024X768_60 = 16,
		* TV_LINE_1360X768_60 = 17,
		* TV_LINE_1280X960_60 = 18,
		* TV_LINE_1280X1024_60 = 19,
		* TV_LINE_1024X768_50 = 20,
		* TV_LINE_1080_55 = 21,
		* TV_LINE_768X1024_60 = 22,
		* TV_LINE_4096X2160_30 = 23,
		* TV_LINE_3840X2160_30 = 24,
		*/
		tvtype = <11>;
		cvbs-output = <CONFIG_CVBS_OUTPUT_SUPPORT>;
		vga-output = <CONFIG_VGA_OUTPUT_SUPPORT>;
		pinmux-vga-hsync = <PINPAD_L12 6>; //share with uart3
		pinmux-vga-vsync = <PINPAD_L13 6>; //share with uart3
		
		/*
		DIS_DAC_0 = (1 << 0),
		DIS_DAC_1 = (1 << 1),
		DIS_DAC_2 = (1 << 2),
		*/
		vga-rgb-dac-r = <4>;
		vga-rgb-dac-g = <2>;
		vga-rgb-dac-b = <1>;
		status = "okay";
	};

	uart@0 {
		devpath = "/dev/uart0";
		status = "disabled";
	};

	uart@1 {
		devpath = "/dev/uart1";
		status = "disabled";
	};

	uart@2 {
		devpath = "/dev/uart2";
		status = "disabled";
	};

	uart@3 {
		pinmux-active = <PINPAD_L12 4 PINPAD_L13 4>;
		devpath = "/dev/uart3";
		status = "okay";
	};

	i2c@0{
		pinmux-active = <PINPAD_L17 1 PINPAD_L18 1>;
		device_type = "hichip,hcrtos-setup-setbit";
		reg_bit = <0xb8800094 18 1>;
		devpath = "/dev/i2c0";
		baudrate = <115200>;
		mode = "master";
		status = "okay";
	};

	uart_dummy {
		devpath = "/dev/uart_dummy";
		status = "okay";
	};
        
	virtuart {
		devpath = "/dev/virtuart";
		status = "okay";
	};

	pok {
		devpath = "/dev/pok";
		status = "okay";
	};

	efuse {
		devpath = "/dev/efuse";
		status = "okay";
	};
	
	stdio {
		serial0 = "/hcrtos/uart@3";
	};

	boot-stdio {
		serial0 = "/hcrtos/uart@3";
	};

	bluetooth {
		devpath = "/dev/uart1";
		status = "disabled";
	};

	i2s {
		status = "okay";
	};

	cs4344 {
		status = "disabled";
	};

	cjc8988 {
		status = "disabled";
	};

	wm8960 {
		status = "disabled";
	};

	i2so {
		volume = <255>;
		status = "okay";
	};

	i2si {
		volume = <255>;
		status = "disabled";
	};

	i2si0 {
		status = "disabled";
	};

	i2si1 {
		status = "disabled";
	};

	i2si2 {
		status = "disabled";
	};

	spdif-out {
		status = "disabled";
	};

	spdif-in {
		status = "disabled";
	};

	pcmi {
		status = "disabled";
	};

	pcmi0 {
		status = "disabled";
	};

	pcmi1 {
		status = "disabled";
	};

	pcmi2 {
		status = "disabled";
	};

	pcmo {
		status = "disabled";
	};

	tdmi {
		status = "disabled";
	};

	pdmi0 {
		status = "disabled";
	};

	pdmi1 {
		status = "disabled";
	};

	pdmi2 {
		status = "disabled";
	};

	irc {
		pinmux-active = <PINPAD_L14 1>;
		linux,rc-map-name = "rc-hcdemo";
		status = "okay";
	};

	persistentmem {
		mtdname = "persistentmem";
		size = <4096>;
		status = "okay";
	};

	sfspi {
		pinmux-active = <PINPAD_T14 1 PINPAD_T15 1 PINPAD_T16 1 PINPAD_T17 1 PINPAD_T18 1 PINPAD_T19 1>;
		sclk = <50000000>;
		dma-mode = <1>;
		status = "okay";

		spi_nor_flash {
			spi-tx-bus-width = <1>;
			spi-rx-bus-width = <1>;
			reg = <0>;
			status = "okay";
			partitions {
				part-num = <4>;

				/* part0 is for entire norflash by default */

				part1-label = "boot";
				part1-reg = <0x0 0x60000>;
				part1-filename = "bootloader.bin";

				part2-label = "eromfs";
				part2-reg = <0x60000 0x20000>;
				part2-filename = "romfs.img";

				part3-label = "firmware";
				part3-reg = <0x80000 0x360000>;
				part3-filename = "hcdemo.uImage";

				part4-label = "persistentmem";
				part4-reg = <0x3e0000 0x20000>;
				part4-filename = "persistentmem.bin";
			};
		};

		spidev@0 {
			devpath = "/dev/spidev0";
			reg = <0>;
			spi-max-frequency = <50000000>;
			status = "okay";
		};
	};
	
	
	vindvp {
		i2c-devpath = "/dev/i2c3";
		pinmux-dvp = <PINPAD_R00 5 PINPAD_R01 5 PINPAD_R02 5 PINPAD_R03 5 PINPAD_R04 5 PINPAD_R05 5 PINPAD_R06 5 PINPAD_R07 5 PINPAD_R08 5 PINPAD_R09 5 PINPAD_R10 5>;
		status = "disabled";
	}; 

#if (CONFIG_DE4K_OUTPUT_SUPPORT == 1)
#define CONFIG_FB0_REG 0xb883a000
#define CONFIG_FB1_REG 0xb883a080
#else
#define CONFIG_FB0_REG 0xb8808000
#define CONFIG_FB1_REG 0xb8808080
#endif

	fb0 {
		bits_per_pixel = <32>;
		xres = <1280>;
		yres = <720>;
		xres_virtual = <1280>;
		yres_virtual = <720>;
		xoffset = <0>;
		yoffset = <0>;

		scale = <1280 720 1920 1080>;

		reg = <CONFIG_FB0_REG 0x1000>;
		/*
		 * frame buffer memory from:
		 * system : malloc buffer from system heap
		 * mmz0   : malloc buffer from mmz0
		 * static : use CONFIG_FRAMEBUFFER_STATIC_PHYS and CONFIG_FRAMEBUFFER_STATIC_MEM_SIZE to allocate memory staticly.
		 * none   : set buffer by user
		 * default is system if the property is missing
		 */
		buffer-source = "system";
		extra-buffer-size = <0x9CA000>;

		buffer-phy-static = <CONFIG_FRAMEBUFFER_STATIC_PHYS CONFIG_FRAMEBUFFER_STATIC_MEM_SIZE>;
		status = "okay";
	};
	
	boot-fb0 {
		bits_per_pixel = <16>;
		xres = <1280>;
		yres = <720>;
		xres_virtual = <1280>;
		yres_virtual = <720>;
		xoffset = <0>;
		yoffset = <0>;

		scale = <1280 720 1920 1080>;

		reg = <CONFIG_FB0_REG 0x1000>;
		/*
		 * frame buffer memory from:
		 * system : malloc buffer from system heap
		 * mmz0   : malloc buffer from mmz0
		 * none   : set buffer by user
		 * default is system if the property is missing
		 */
		buffer-source = "system";
		extra-buffer-size = <0>;

		status = "okay";
	};

	fb1 {
		reg = <CONFIG_FB1_REG 0x1000>;
		bits_per_pixel = <8>;
		xres = <1280>;
		yres = <720>;
		xres_virtual = <1280>;
		yres_virtual = <720>;
		xoffset = <0>;
		yoffset = <0>;

		scale = <1280 720 1920 1080>;

		/*
		 * frame buffer memory from:
		 * system : malloc buffer from system heap
		 * mmz0   : malloc buffer from mmz0
		 * none   : set buffer by user
		 * default is system if the property is missing
		 */
		buffer-source = "system";
		pre-multiply = <0>;
		extra-buffer-size = <0>;
		status = "disabled";
	};

	rotate {
		/*
		 * anticlockwise,
		 * support 0/90/180/270 degree.
		 */
		rotate = <0>;

		/*
		* value is 0 or 1, support fliping may use more fb memory
		* flip_support = 1, support fb fliped
		*/
		flip_support = <0>;

		/*
		 * value is 0 or 1
		 * h_flip = 1 is horizontally fliped
		 * v_flip = 1 is vertically fliped
		 */
		h_flip = <0>;
		v_flip = <0>;

		status = "disabled";
	};

	usb0 {  // usb_host0 / usb_peripheral0
		reg = <0x18844000 0x1000>;
		interrupts = <53>,<52>;
		interrupt-names = "mc","dma";
		dr_mode = "host";  // host/peripheral
		index_num = <0>;
		ctrl_base = <0x18800000>;
		status = "okay";
	};

	usb1 {  // usb_host1/ usb_peripheral1
		reg = <0x18850000 0x1000>;
		interrupts = <51>, <50>;
		interrupt-names = "mc", "dma";
		dr_mode = "host";
		index_num = <1>;
		ctrl_base = <0x18800000>;
		status = "okay";
	};

	ge: ge@18806000 {
	    reg = <0xb8806000 0x2000>, <0xb8800000 0x1000>;
	    interrupts = <4>; 
	    cmdq_buf_size = <0x3c000>;
	    status = "okay";
    	}; 
	dsc: dsc@0x18870000 {
	     compatible = "hichip,dsc";
	     reg = <0xb8834000 0x1000>;
	     interrupts = <44>;
	     status = "okay";
     	}; 
};
};
